$primary-color: #f0f8ff;
$secondary-color: #fff;
$dark-main: #3F4045;
$button-background-color: #1e90ff;
$button-color: #fff;


$menu-font-size: 18px;
$menu-font-weight: 600;
$menu-item-padding: 5px 10px;

$font-size: 18px;
$font-weight: 400;